*{
    padding:0px;
    margin:0px;
}
body{
    height:100vh;
    background-image:url("/assets/images/bg.png.png");
    color:#e6e6e6;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0f2b56;
    background: rgba(11, 12, 16, 0.4); /* semi-transparent dark */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding:10px;
    height:10vh;
    
}
.nav_el{
    padding:15px;
    text-decoration: none;
    color:#e6e6e6;
}

#navbar img{
    position:fixed;
    left:5%;
}

#about_me_sec{
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutme{
    display: flex;
    justify-content: center;
    flex-direction:column ;
    max-width: 80%;
}

#aboutme h3{
    text-align: center;
    font-size: 30px;
    padding:15px;
}

#aboutme p{
    padding:10px;
}

#education{
    display: flex;
    justify-content: space-evenly;
    padding:15px;
    margin:0px 0px 15px 0px;
}

#education h2{
    padding:15px;
    font-size: 35px;;
}

.education-item{
    max-height:200px;
    min-height: 120px;
    padding:10px;
    margin:10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 16px rgba(207, 191, 191, 0.4);
    background: linear-gradient(135deg, #033291, #000000);
}

.education-item p{
    padding:5px;
}

#skills{
    display: flex;
    flex-direction: column;
}

#languages{
    display: flex;
}

#tools{
    display: flex;
}

#devolepment_tools{
    display: flex;
}

.skill-item{
    padding:20px;
    text-align: center;
}

.skill-logo{
    width: 60px;
    height: 60px;
}

#certifications{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.certificate{
    background-color: #0d0f1a;
    box-shadow: 0 0 20px rgba(118, 198, 232, 0.919);
    border-radius: 10%;
    padding:15px;
    margin:15px;
    border:2px solid rgba(255, 255, 255, 0.87);
}

.certificate h3,p,a{
    text-decoration: none;
    padding:10px;
}



