*{
    padding:0px;
    margin:0px;
}
body{
    height:100vh;
    background-image:url("/assets/images/bg.png.png");
    color:#e6e6e6;
    font-family: 'Inter',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1,h2,h3{
    font-family: 'Poppins',sans-serif;
    text-shadow: 0 0 12px rgba(30, 144, 255, 0.6);
    animation: glowPulse 4s infinite ease-in-out;
}

@keyframes glowPulse{
    0% {text-shadow: 0 0 10px #1e90ff, 0 0 20px #1e90ff;}
    50% {text-shadow: 0 0 5px #a8b2af, 0 0 40px #00ffaa;}
    100% {text-shadow:0 0 10px #1e90ff, 0 0 20px #1e90ff;}
}

h1{
    font-size: 48px;
    color: #1dc5c2;
}

h2{
    font-size: 32px;
    color: #00ffaa;
}

h3{
    font-size: 24px;
    color: #e6e6e6;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0f2b56;
    background: rgba(11, 12, 16, 0.4); 
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding:10px 20px;
    min-height:10vh;
    flex-wrap: wrap;
}
.nav_el{
    padding:15px;
    text-decoration: none;
    color:#e6e6e6;
}

.nav_el:hover{ 
    color: #1e90ff;
} 

.nav_el.active{
    border-bottom: 2px solid #1e90ff;
} 


#navbar img{
    position:absolute;
    left:20px;
    width:60px;
    height:60px;
}

#about_me_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;  
}

#about_me_sec img{
    width: 100%;
    max-width: 220px;
    height: auto; 
    object-fit: cover;
}

#aboutme{
    display: flex;
    justify-content: center;
    flex-direction:column ;
    max-width: 80%;
}

#aboutme h1{
    text-align: center;
    font-size: 30px;
    padding:15px;
}

#aboutme p{
    padding:10px;
}

#education{
    display: flex;
    justify-content: space-evenly;
    padding:15px;
    margin:0px 0px 15px 0px;
}

#education h2{
    padding:15px;
    font-size: 35px;;
}

.education-item{
    max-height:200px;
    min-height: 120px;
    padding:10px;
    margin:10px;
    box-shadow: 0 8px 16px rgba(207, 191, 191, 0.4);
    border: 1px solid rgba(30, 144, 255, 0.6);
    background: rgba(15, 20, 35, 0.8);
    border-radius: 12px;
}

.education-item p{
    padding:5px;
}

#skills{
    display: flex;
    flex-direction: column;
}

#languages{
    display: flex;
}

#tools{
    display: flex;
}

#devolepment_tools{
    display: flex;
}

.skill-item{
    padding:20px;
    text-align: center;
}

.skill-logo{
    width: 60px;
    height: 60px;
}

#languages,#tools,#devolepment_tools{
    display:flex;
    flex-wrap: wrap;
}

#certifications{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.certificate{
    background-color: #0d0f1a;
    box-shadow: 0 0 20px rgba(118, 198, 232, 0.919);
    border-radius: 10px;
    padding:15px;
    margin:15px;
    border:2px solid rgba(255, 255, 255, 0.87);
}

.certificate h3,p,a{
    text-decoration: none;
    padding:10px;
}


footer{
    width:100%;
    padding:25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, #000000, #0a2a43); 
}

#contact_logo{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    padding:10px;
    margin-right:10px;
}

@media (max-width:786px){
    #about_me_sec{
        flex-direction: column;
    }
    
    #education{
        flex-direction: column;
        margin:15px;
        gap:20px;
    }

    #certifications{
        gap:15px;
    }

    footer{
        flex-direction: column;
        margin:0px;
        padding:15px;
    }
}

@media (max-width:576px){
    #about_me_sec{
        flex-direction: column;
    }
    
    #education{
        flex-direction: column;
        margin:15px;
        gap:20px;
    }

    #certifications{
        margin:10px;
        gap:10px;
    }

    footer{
        flex-direction: column;
        margin:0px;
        padding:15px;
    }
}

@media (max-width:400px){
    #education{
        flex:1 1 200px;
        margin:10px;
        padding:15px;
        gap:15px;
    }

    footer{
        flex-direction: column;
        padding:15px;
        margin:0px;
    }
}

