*{
    padding:0px;
    margin:0px;
}
body{
    height:100vh;
    background-image:url("/assets/images/bg.png.png");
    color:#e6e6e6;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0f2b56;
    background: rgba(11, 12, 16, 0.4); /* semi-transparent dark */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding:10px;
    height:10vh;
    
}
.nav_el{
    padding:15px;
    text-decoration: none;
    color:#e6e6e6;
}

.nav_el:hover{ 
    color: #1e90ff;
} 

.nav_el.active{
    border-bottom: 2px solid #1e90ff;
} 

#navbar img{
    position:fixed;
    left:5%;
}

#underline{
    text-decoration: underline;
}

#send_message{
    max-width: 300px;
    min-width: 250px;
    padding:15px;
    margin:15px;
    border:2px solid blue;
    border-radius: 5%;
    max-height: fit-content;
}

#send_message textarea{
    min-height:120px;
}
#send_message h3{
    margin:0px 0px 10px 0px;
    text-align: center;
}

#send_message button{
    padding: 5px;
    background-color: rgb(34, 126, 247);
    display: flex;
    gap:5px;
    border-radius:5px;
    border: 2px solid rgb(30, 9, 221);
}

.input_ele{
    width: 95%;
    display:block;
    margin:10px 0px 10px 0px ;
    height:30px;
    background-color: rgba(255, 255, 255, 0.9);
    border:2px solid rgb(13, 104, 201);
}

#container{
    display:flex;
    color:white;
    justify-content: center;
}

#get_in_touch{
    display: flex;
    flex-direction: column;
    margin:15px;
    border:2px solid blue;
    border-radius: 5%;
}

.element{
    display:flex;
    padding:10px;
    background: linear-gradient(90deg,rgb(0, 0, 44),rgb(0, 0, 0),rgb(14, 14, 31));
    margin:10px;
    border:2px solid rgb(12, 12, 91);
}

.img{
    padding:5px 10px 5px 0px;
}