*{
    padding:0px;
    margin:0px;
}
body{
    height:100vh;
    background-image:url("/assets/images/bg.png.png");
    color:#e6e6e6;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0f2b56;
    background: rgba(11, 12, 16, 0.4); /* semi-transparent dark */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding:10px;
    height:10vh;
    
}
.nav_el{
    padding:15px;
    text-decoration: none;
    color:#e6e6e6;
}

#navbar img{
    position:fixed;
    left:5%;
}

#underline{
    text-decoration: underline;
}

#send_message{
    padding:15px;
    margin:15px;
    border:2px solid blue;
}

#send_message input{
    display:block;
    margin:15px;
}

#container{
    display:flex;
    color:white;
    justify-content: center;
}

#get_in_touch{
    display: flex;
    flex-direction: column;
    margin:15px;
    border:2px solid blue;
}

.element{
    display:flex;
    padding:10px;
}
