*{
    padding:0px;
    margin:0px;
}
body{
    height:100vh;
    background-image:url("/assets/images/bg.png.png");
    color:#e6e6e6;
}

h1,h2,h3{
    font-family: 'Poppins',sans-serif;
    text-shadow: 0 0 12px rgba(30, 144, 255, 0.6);
    animation: glowPulse 4s infinite ease-in-out;
}

@keyframes glowPulse{
    0% {text-shadow: 0 0 10px #1e90ff, 0 0 20px #1e90ff;}
    50% {text-shadow: 0 0 5px #a8b2af, 0 0 40px #00ffaa;}
    100% {text-shadow:0 0 10px #1e90ff, 0 0 20px #1e90ff;}
}

h1{
    font-size: 48px;
    color: #1dc5c2;
}

h2{
    font-size: 32px;
    color: #00ffaa;
}

h3{
    font-size: 24px;
    color: #e6e6e6;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0f2b56;
    background: rgba(11, 12, 16, 0.4); /* semi-transparent dark */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding:10px;
    height:10vh;
    
}
.nav_el{
    padding:15px;
    text-decoration: none;
    color:#e6e6e6;
}

.nav_el:hover{ 
    color: #1e90ff;
} 

.nav_el.active{
    border-bottom: 2px solid #1e90ff;
} 

#navbar img{
    position:fixed;
    left:5%;
}

#underline{
    text-decoration: underline;
}

#send_message{
    max-width: 320px;
    min-width: 250px;
    padding:15px;
    margin:15px;
    border:2px solid #1e90ff;
    background: rgba(0,0,30,0.6);
    box-shadow:0 0 15px rgba(30,144,255,0.4);
    border-radius: 10px;
    max-height: fit-content;
}

#send_message textarea{
    min-height:120px;
}
#send_message h3{
    margin:0px 0px 10px 0px;
    text-align: center;
}

#send_message button{
    padding: 7px 12px;
    background: linear-gradient(90deg, #1e90ff, #005fcb);
    display: flex;
    align-items:center;
    gap:5px;
    border-radius:5px;
    border: 2px solid rgb(30, 9, 221);
    cursor:pointer;
}

.input_ele{
    width: 95%;
    display:block;
    margin:10px 0px;
    height:35px;
    background-color: rgba(255, 255, 255, 0.85);
    border:1px solid rgb(13, 104, 201);
}

#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    align-items: stretch;
}

#get_in_touch{
    display: flex;
    flex-direction: column;
    margin:15px;
    border:2px solid rgb(13, 104, 201);;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 0 15px rgba(30,144,255,0.3);
    background: rgba(10,20,40,0.7);;
}

.element{
    display:flex;
    align-items: center;
    padding:10px;
    background: rgba(12, 40, 97, 0.7);
    margin:8px 0;
    border:1px solid rgba(30,144,255,0.3);
    border-radius: 8px;
}

.img{
    padding:5px 10px 5px 0px;
}
