*{
    margin:0px;
    padding:0px;
}

body{
    height:100vh;
    background-image:url("/assets/images/bg.png.png");
    color:#e6e6e6;
    font-family: 'Inter',sans-serif;
    display: flex;
    flex-direction: column;
}

h1,h2,h3{
    font-family: 'Poppins',sans-serif;
    text-shadow: 0 0 12px rgba(30, 144, 255, 0.6);
    animation: glowPulse 4s infinite ease-in-out;
}

h1{
    font-size: 48px;
    color: #1dc5c2;
}

h2{
    font-size: 32px;
    color: #00ffaa;
}

h3{
    font-size: 24px;
    color: #e6e6e6;
}

p {
    font-size: 17px;
    line-height: 1.6;
    color: #e0e0e0;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0f2b56;
    background: rgba(11, 12, 16, 0.4); /* semi-transparent dark */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding:10px;
    height:10vh;
    
}

.nav_el{
    padding:15px;
    text-decoration: none;
    color:#e6e6e6;
}

.nav_el:hover{ 
    color: #1e90ff;
} 

.nav_el.active{
    border-bottom: 2px solid #1e90ff;
} 

#navbar img{
    position:fixed;
    left:5%;
}
#welcome{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:40px;
    padding:10px;
}

#textid{
    padding:20px;
    width:60vw;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin:10vh 0px 10vh 30px;
}
#textid p{
    margin-top:20px;
}

#imgid{
    margin:10vh 30px 10vh 0px;
    padding:20px;
    display: flex;
    justify-content: center;
    max-width: 100%;    
    height: auto;       
    object-fit: cover; 
}

#textid button{
    margin-top:20px;
    background:linear-gradient(135deg,#1e90ff,#00ffaa);
    padding:12px 28px;
    box-shadow: 0 4px 12px rgba(30,144,255,0.3);
    border-radius:30px;
    cursor: pointer;
    border: none;
}
#button_inside{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#textid button:hover{
    transform: translateY(-4px) scale(1.1);
    box-shadow: 0 6px 16px rgba(30,144,255,0.5);
}

footer{
    padding:25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, #000000, #0a2a43); 
}

#contact_logo{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    padding:10px;
    margin-right:10px;
}

@media(max-width:768px){
#welcome{
    flex-direction: column;
    text-align:center;
}
 
#textid{ 
    align-items: center; 
}

#imgid{
    max-width: 200px;   
    margin: 20px auto;  
    display: block;
}

}

