*{
    padding:0px;
    margin:0px;
}
body{
    height:100vh;
    background-image:url("/assets/images/bg.png.png");
    color:#e6e6e6;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0f2b56;
    background: rgba(11, 12, 16, 0.4); /* semi-transparent dark */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding:10px;
    height:10vh;
    
}

.nav_el{
    padding:15px;
    text-decoration: none;
    color:#e6e6e6;
}

.nav_el:hover{ 
    color: #1e90ff;
} 

.nav_el.active{
    border-bottom: 2px solid #1e90ff;
} 

#navbar img{
    position:fixed;
    left:5%;
}
#welcome{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:40px;
    padding:10px;
}

#textid{
    padding:20px;
    width:60vw;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin:10vh 0px 10vh 30px;
}
#textid p{
    margin-top:20px;
}
#textid button{
    margin-top:20px;
}
#imgid{
    margin:10vh 30px 10vh 0px;
    padding:20px;
    display: flex;
    justify-content: center;
    max-width: 100%;    
    height: auto;       
    object-fit: cover; 
}

#textid button{
    background-color: #1e90ff;
    color: white;
    padding:10px;
    border-radius: 5%;
    cursor:pointer;
    border:none;
}
#button_inside{
    text-decoration: none;
}

#aboutme{
    /*background-image: url();*/
}

#about_me_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.about_me_item{
    padding:20px;
    max-width:300px;
    max-height:300px;
    border:2px solid white;
}

.about_me_item h3{
    text-align: center;
    font-size: 25px;
    padding-bottom:10px;
}

.about_me_item p{
    padding:10px;
    text-align: center;
}

#moreinfoaboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

#moreinfoaboutme a{
    text-decoration: none;
    color:#e6e6e6;
}
#moreinfoaboutme button{
    background-color: #1e90ff;
    padding:10px;
    border:none;
}

footer{
    padding:25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, #000000, #0a2a43); 
}

#contact_logo{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    padding:10px;
    margin-right:10px;
}

@media(max-width:768px){
#welcome{
    flex-direction: column;
    text-align:center;
}
 
#textid{ 
    align-items: center; 
}

#imgid{
    max-width: 200px;   
    margin: 20px auto;  
    display: block;
}

}