body{
    height:100vh;
    background-image:url("/assets/images/bg.png.png");
    color:#e6e6e6;
    font-family: 'Inter',sans-serif;
}

h1,h2,h3{
    font-family: 'Poppins',sans-serif;
    text-shadow: 0 0 12px rgba(30, 144, 255, 0.6);
    animation: glowPulse 4s infinite ease-in-out;
}

@keyframes glowPulse{
    0% {text-shadow: 0 0 10px #1e90ff, 0 0 20px #1e90ff;}
    50% {text-shadow: 0 0 5px #a8b2af, 0 0 40px #00ffaa;}
    100% {text-shadow:0 0 10px #1e90ff, 0 0 20px #1e90ff;}
}

h1{
    font-size: 48px;
    color: #1dc5c2;
}

h2{
    font-size: 32px;
    color: #00ffaa;
}

h3{
    font-size: 24px;
    color: #e6e6e6;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0f2b56;
    background: rgba(11, 12, 16, 0.4); /* semi-transparent dark */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding:10px;
    height:10vh;
    
}
.nav_el{
    padding:15px;
    text-decoration: none;
    color:#e6e6e6;
}

.nav_el:hover{ 
    color: #1e90ff;
} 

.nav_el.active{
    border-bottom: 2px solid #1e90ff;
} 

#navbar img{
    position:fixed;
    left:5%;
}

#projects{
    padding:15px;
    margin:20px;
    display: flex;
    flex-wrap:wrap;
}

.project{
    width:35%;
    height:35%;
    margin:20px;
    border:2px solid #394949;
    padding:15px;
    box-shadow: 5px 5px 5px rgb(2, 102, 209);
    background: linear-gradient(90deg, #1b2a49,#000000);
}

.project ul{
    margin-left:30px;
    margin-bottom:10px;
}

.project p{
    padding-top:15px;
    padding-bottom:15px;
}

.project a{
    text-decoration: none;
    display: block;
    text-align: center;
    color:rgb(196, 188, 178);
}