*{
    padding:0px;
    margin:0px;
    box-sizing: border-box; 
}
body{
    min-height:100vh;
    background-image:url("/assets/images/bg.png.png");
    color:#e6e6e6;
    font-family: 'Inter',sans-serif;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

h1,h2,h3{
    font-family: 'Poppins',sans-serif;
    text-shadow: 0 0 12px rgba(30, 144, 255, 0.6);
    animation: glowPulse 4s infinite ease-in-out;
}

@keyframes glowPulse{
    0% {text-shadow: 0 0 10px #1e90ff, 0 0 20px #1e90ff;}
    50% {text-shadow: 0 0 5px #a8b2af, 0 0 40px #00ffaa;}
    100% {text-shadow:0 0 10px #1e90ff, 0 0 20px #1e90ff;}
}

h1{
    font-size: 48px;
    color: #1dc5c2;
}

h2{
    font-size: 32px;
    color: #00ffaa;
}

h3{
    font-size: 24px;
    color: #e6e6e6;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0f2b56;
    background: rgba(11, 12, 16, 0.4); 
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding:10px;
    height:10vh;
    
}
.nav_el{
    padding:15px;
    text-decoration: none;
    color:#e6e6e6;
}

.nav_el:hover{ 
    color: #1e90ff;
} 

.nav_el.active{
    border-bottom: 2px solid #1e90ff;
} 

#navbar img{
    position:fixed;
    left:5%;
}

#projects{
    padding:15px;
    margin:20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: stretch;
    gap:20px;
}

.project{
    flex: 1 1 300px;
    max-width:400px;
    margin:20px;
    border:2px solid #394949;
    padding:15px;
    box-shadow: 5px 5px 5px rgb(2, 102, 209,0.5);
    background: rgba(0,0,30,0.7);
    border-radius: 10px;
    display:flex ;
    flex-direction: column;
    justify-content:space-between;
}

.project ul{
    margin:0 0 12px 20px;
    padding:0;
    list-style-type:disc;
    list-style-position: outside;
    line-height: 1.5;
}

.project p{
    padding:15px 0px;
}

.project a{
    text-decoration: none;
    display: block;
    text-align: center;
    color:rgb(196, 188, 178);
}

footer{
    width:100%;
    padding:25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, #000000, #0a2a43); 
}

#contact_logo{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    padding:10px;
    margin-right:10px;
}
